# Data University - Python

# PYTH-201

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

# 1 Pandas,  Series e DataFrames

Python Data Analysis Library (`pandas`) é uma biblioteca de código aberto, que fornece estrturas de alto desempenho para análise de dados em Python. As duas estruturas principais dentro do `pandas` são `Series` e `DataFrame`. A estrutura `Series` nada mais é do que um vetor unidimensional indexado, já o `DataFrame` é um conjunto de `Series` em uma estrutra, ou seja, uma matriz (vetor multidimensional) indexada, tendo séries de diferentes tipos de dados.

# 2 Leitura do DataFrame do disco inspeção inicial dos dados

In [2]:
df_pro = pd.read_csv('mini_propostas.csv', sep='|')

In [3]:
df_pro.shape

(50000, 19)

In [4]:
df_pro.head()

,pro_cd_proposta,pro_cd_situacao,proposta_finalizada,pro_ds_endereco_uf,pro_ds_tipo_documento,pro_ds_escolaridade,pro_faixa_escolaridade,pro_nr_dia_vencimento,pro_ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,pro_dt_fila_espera,horario_decisao_motorcredito,pro_limite_aprovado,coc_dt_abertura_conta_cartao
0,3262198.0,3,1,SP,RG,Médio Completo,2. Médio Completo,15,F,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-12-27 17:16:20,2019-01-01 00:24:05,NaN,NaN
1,3276543.0,17,1,PB,RG,Superior Incompleto,3. > Medio Completo,15,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:25:56,2019-01-01 00:36:25,NaN,NaN
2,2987697.0,17,1,MG,CNH,Fundamental Incompleto,1. < Medio Completo,20,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-11-11 17:07:23,2019-01-01 01:11:32,NaN,NaN
3,3276564.0,3,1,CE,CNH,Fundamental Completo,1. < Medio Completo,10,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:57:28,2019-01-01 01:24:27,NaN,NaN
4,3276577.0,17,1,BA,RG,Fundamental Completo,1. < Medio Completo,25,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2019-01-01 01:48:56,2019-01-01 02:12:31,NaN,NaN

In [5]:
df_pro.dtypes

pro_cd_proposta                   float64
pro_cd_situacao                     int64
proposta_finalizada                 int64
pro_ds_endereco_uf                 object
pro_ds_tipo_documento              object
pro_ds_escolaridade                object
pro_faixa_escolaridade             object
pro_nr_dia_vencimento               int64
pro_ds_sexo                        object
reprovado_suspeita_fraude_mesa      int64
fra_pos_mesa                        int64
rendapresumidatu                  float64
faixa_renda_presumida              object
decilcurtoprazo                   float64
decillongoprazo                   float64
pro_dt_fila_espera                 object
horario_decisao_motorcredito       object
pro_limite_aprovado               float64
coc_dt_abertura_conta_cartao       object
dtype: object

In [6]:
for col in df_pro.columns:
    print(type(df_pro[col]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [7]:
type(df_pro)

pandas.core.frame.DataFrame

De fato como apresentado na definção um `DataFame` é composto por várias `Series` que podem conter tipos de dados distintos entre si.

## 2.1 Alteração dos nomes das `Series`/Colunas

Como lemos o `df_pro` não necessariamente suas colunas estão nomeados de um modo conveniente para uma análise de dados dentro do do Jupyter Notebook. No entanto, podemos simplesmente renomear os nomes das colunas.

In [8]:
new_col_names = [col.replace('pro_','') for col in df_pro.columns]

In [9]:
col_replace_dic = dict(zip(df_pro.columns, new_col_names))

In [10]:
col_replace_dic

{'pro_cd_proposta': 'cd_proposta',
 'pro_cd_situacao': 'cd_situacao',
 'proposta_finalizada': 'proposta_finalizada',
 'pro_ds_endereco_uf': 'ds_endereco_uf',
 'pro_ds_tipo_documento': 'ds_tipo_documento',
 'pro_ds_escolaridade': 'ds_escolaridade',
 'pro_faixa_escolaridade': 'faixa_escolaridade',
 'pro_nr_dia_vencimento': 'nr_dia_vencimento',
 'pro_ds_sexo': 'ds_sexo',
 'reprovado_suspeita_fraude_mesa': 'reprovado_suspeita_fraude_mesa',
 'fra_pos_mesa': 'fra_pos_mesa',
 'rendapresumidatu': 'rendapresumidatu',
 'faixa_renda_presumida': 'faixa_renda_presumida',
 'decilcurtoprazo': 'decilcurtoprazo',
 'decillongoprazo': 'decillongoprazo',
 'pro_dt_fila_espera': 'dt_fila_espera',
 'horario_decisao_motorcredito': 'horario_decisao_motorcredito',
 'pro_limite_aprovado': 'limite_aprovado',
 'coc_dt_abertura_conta_cartao': 'coc_dt_abertura_conta_cartao'}

In [11]:
df_pro.rename(columns=col_replace_dic, inplace=True) 
# É importante setarmos inplace=True nessas situações porque caso contrário
# será realizado uma cópia do DataFrame implicando no consumo de mémoria desnecessariamente. 
# Embora nesse caso não seja crítico, em DataFrames maiores o é.

In [12]:
df_pro.head()

,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao
0,3262198.0,3,1,SP,RG,Médio Completo,2. Médio Completo,15,F,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-12-27 17:16:20,2019-01-01 00:24:05,NaN,NaN
1,3276543.0,17,1,PB,RG,Superior Incompleto,3. > Medio Completo,15,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:25:56,2019-01-01 00:36:25,NaN,NaN
2,2987697.0,17,1,MG,CNH,Fundamental Incompleto,1. < Medio Completo,20,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-11-11 17:07:23,2019-01-01 01:11:32,NaN,NaN
3,3276564.0,3,1,CE,CNH,Fundamental Completo,1. < Medio Completo,10,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:57:28,2019-01-01 01:24:27,NaN,NaN
4,3276577.0,17,1,BA,RG,Fundamental Completo,1. < Medio Completo,25,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2019-01-01 01:48:56,2019-01-01 02:12:31,NaN,NaN

Alguns dos nomes das colunas/series foram alterados como desejado, sendo retirado o prefixo `pro_`

## 2.1 Inspenção da coluna `cd_proposta`

O campo `cd_proposta`, corresponde ao código de proposta, que nós sabemos que é inteiro. Então por que está como um tipo `float64`?

In [13]:
!head mini_propostas.csv

pro_cd_proposta|pro_cd_situacao|proposta_finalizada|pro_ds_endereco_uf|pro_ds_tipo_documento|pro_ds_escolaridade|pro_faixa_escolaridade|pro_nr_dia_vencimento|pro_ds_sexo|reprovado_suspeita_fraude_mesa|fra_pos_mesa|rendapresumidatu|faixa_renda_presumida|decilcurtoprazo|decillongoprazo|pro_dt_fila_espera|horario_decisao_motorcredito|pro_limite_aprovado|coc_dt_abertura_conta_cartao
3262198|3|1|SP|RG|Médio Completo|2. Médio Completo|15|F|0|0||06. Outros, < 400 & Null|||2018-12-27 17:16:20|2019-01-01 00:24:05||
3276543|17|1|PB|RG|Superior Incompleto|3. > Medio Completo|15|M|0|0||06. Outros, < 400 & Null||5|2019-01-01 00:25:56|2019-01-01 00:36:25||
2987697|17|1|MG|CNH|Fundamental Incompleto|1. < Medio Completo|20|M|0|0||06. Outros, < 400 & Null|||2018-11-11 17:07:23|2019-01-01 01:11:32||
3276564|3|1|CE|CNH|Fundamental Completo|1. < Medio Completo|10|M|0|0||06. Outros, < 400 & Null||5|2019-01-01 00:57:28|2019-01-01 01:24:27||
3276577|17|1|BA|RG|Fundamental Completo|1. < Medio Completo|25|M|0|0||06. Outros, < 400 & Null|||2019-01-01 01:48:56|2019-01-01 02:12:31||
3276594|3|1|BA|CNH|Médio Completo|2. Médio Completo|20|M|0|0||06. Outros, < 400 & Null|||2019-01-01 02:49:01|2019-01-01 03:07:40||
2854263|4|0|SC|RG|Médio Completo|2. Médio Completo|5|M|0|0|4000.00|05. (2000.0, 30000.0]|9|8|2018-10-25 11:58:08|2019-01-01 03:19:56|2000.00|
3276601|2|1|MG|CNH|Médio Completo|2. Médio Completo|25|M|0|0|8500.00|05. (2000.0, 30000.0]|5|12|2019-01-01 03:18:23|2019-01-01 03:27:51|800.00|2019-01-04 08:14:43
|3|1|MA|RG|Médio Completo|2. Médio Completo|15|F|0|0||06. Outros, < 400 & Null|||2018-02-26 15:23:50|2019-01-01 04:29:53||

Ao inspecionarmos os primeiros registros do `csv` de onde `df_pro` foi carregado, tudo parece correto `pro_cd_proposta` que foi renomeado para `cd_proposta` de fato é um número inteiro.

Vamos então tentar converter a `df_pro['cd_proposta']` para inteiro.

In [14]:
df_pro['cd_proposta'] = df_pro['cd_proposta'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

Pelo erro ocorrido aparenta que temos registros sem seu respectivo código de proposta. Isto é fácil de descobrir.

In [16]:
df_pro['cd_proposta'].isnull().sum()

1

De fato temos um registro com `cd_proposta` nulo. Este único registro nulo alterou todo o tipo de sua respectiva coluna. Uma vez que o tipo inteiro no numpy e pandas não suporta np.nan, quando carregamos o `df_pro` o pandas automaticamente inferiu o tipo dessa coluna como np.float64 (promovendo todos os registros não nulos). E quando tentamos converter (rebaixar) esses elementos para np.int64, não foi possível por que essa operação não é suportado para o registro nulo. Situação semalhante a que ocorreu quando tentamos converter um número complexo em inteiro no começo do notebook de `PYTH-101`.

Para contornar essa situação, basta remover o registro com `cd_proposta` nulo.

In [17]:
df_pro.dropna(subset=['cd_proposta'], inplace=True)
# XXX Atenção é importantíssimo que passemos o contexto de avaliação dos NAs
# caso contrário será considerado todas as colunas do DataFrame e não apenas 
# de cd_proposta.

In [18]:
df_pro.shape

(49999, 19)

Registro removido como esperado, agora convertendo o tipo da coluna para inteiro.

In [19]:
df_pro['cd_proposta'] = df_pro['cd_proposta'].astype(int)

In [20]:
df_pro.head()

,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao
0,3262198,3,1,SP,RG,Médio Completo,2. Médio Completo,15,F,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-12-27 17:16:20,2019-01-01 00:24:05,NaN,NaN
1,3276543,17,1,PB,RG,Superior Incompleto,3. > Medio Completo,15,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:25:56,2019-01-01 00:36:25,NaN,NaN
2,2987697,17,1,MG,CNH,Fundamental Incompleto,1. < Medio Completo,20,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-11-11 17:07:23,2019-01-01 01:11:32,NaN,NaN
3,3276564,3,1,CE,CNH,Fundamental Completo,1. < Medio Completo,10,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:57:28,2019-01-01 01:24:27,NaN,NaN
4,3276577,17,1,BA,RG,Fundamental Completo,1. < Medio Completo,25,M,0,0,NaN,"06. Outros, < 400 & Null",NaN,NaN,2019-01-01 01:48:56,2019-01-01 02:12:31,NaN,NaN

Então se uma coluna que deveria ser do tipo `inteiro` está aparecendo como `float`, já sabemos de ante mão que contém registros nulos. Cabe avaliar se isso faz sentido com a base que está sendo trabalhada.

Uma outra checagem interessante de se fazer em chaves primárias, é checar se de fato são primárias. Isto é facilmente alcançado com o describe.

In [23]:
df_pro['cd_proposta'].astype(str).describe()

count       49999
unique      49999
top       3281075
freq            1
Name: cd_proposta, dtype: object

## 2.2 Inspeção dos campos de Data e Hora - dt_fila_espera e horario_decisao_motorcredito

Ao olharmos para os tipo dos campos `dt_fila_espera` e `horario_decisao_motorcredito`, vemos que são do tipo `object` bem como campos de string.

In [25]:
df_pro.dtypes

cd_proposta                         int64
cd_situacao                         int64
proposta_finalizada                 int64
ds_endereco_uf                     object
ds_tipo_documento                  object
ds_escolaridade                    object
faixa_escolaridade                 object
nr_dia_vencimento                   int64
ds_sexo                            object
reprovado_suspeita_fraude_mesa      int64
fra_pos_mesa                        int64
rendapresumidatu                  float64
faixa_renda_presumida              object
decilcurtoprazo                   float64
decillongoprazo                   float64
dt_fila_espera                     object
horario_decisao_motorcredito       object
limite_aprovado                   float64
coc_dt_abertura_conta_cartao       object
dtype: object

In [24]:
type(df_pro['dt_fila_espera'][0]), type(df_pro['horario_decisao_motorcredito'][0])

(str, str)

Como suspeitávamos, os campos de data estão como string no DataFrame, isto pode ser solucionado de duas formas. A primeira é no momento da leitura do csv setarmos o parâmetro `dtypes` dessas colunas para `datetime`. Já a segunda opção, que utilizaremos, é usando o metódo `pd.to_datetime()`

In [26]:
df_pro['dt_fila_espera'] = pd.to_datetime(df_pro['dt_fila_espera'])
df_pro['horario_decisao_motorcredito'] = pd.to_datetime(df_pro['horario_decisao_motorcredito'])
# XXX Como a data está no formato YYYY-MM-DD, não precisamos nos importar com tipo de formatação de data.
# No entanto se estivesse no formato DD-MM-YYYY, teríamos que setar o parametro dayfirst=True

In [27]:
df_pro.dtypes

cd_proposta                                int64
cd_situacao                                int64
proposta_finalizada                        int64
ds_endereco_uf                            object
ds_tipo_documento                         object
ds_escolaridade                           object
faixa_escolaridade                        object
nr_dia_vencimento                          int64
ds_sexo                                   object
reprovado_suspeita_fraude_mesa             int64
fra_pos_mesa                               int64
rendapresumidatu                         float64
faixa_renda_presumida                     object
decilcurtoprazo                          float64
decillongoprazo                          float64
dt_fila_espera                    datetime64[ns]
horario_decisao_motorcredito      datetime64[ns]
limite_aprovado                          float64
coc_dt_abertura_conta_cartao              object
dtype: object

Agora que as datas são do tipo datetime64, temos todos metódos desse tipo para trabalharmos apropriadamente com as datas e horas.

# 3 Seleção de colunas para visualização

Quando queremos visualizar o conteúdo de uma única coluna não temos problemas, basta realizar no nosso caso o comando `df_pro['coluna_desejada']`. Mas e quando queremos selecionar mais de uma coluna, o intuitivo não seria fazer:

In [30]:
df_pro['cd_proposta', 'cd_situacao']

KeyError: ('cd_proposta', 'cd_situacao')

O `KeyError` acontece e era esperado que ocorresse porque ao fazermos `df_pro['cd_proposta', 'cd_situacao']` estamos passando uma tupla como chave indexadora e o que pandas faz é procurar por uma coluna que tenha tal tupla como chave, que sabemos que não existe. Quando queremos visualizar mais de uma coluna de um DataFrame devemos fazer:

In [31]:
df_pro[['cd_proposta', 'cd_situacao']].head()

   cd_proposta  cd_situacao
0      3262198            3
1      3276543           17
2      2987697           17
3      3276564            3
4      3276577           17

Ao passarmos as colunas desejadas dentro de uma lista o pandas consegue compreender que queremos visualizar um conjunto de colunas/séries. No entanto, devemos ter consciência de que o DataFrame retornado por essa operação é uma `view`/cópia do original.

## 4 Métodos de indexação, seleção e alteração de dados

No pandas temos essencialmente, dois métodos de indexação/seleção o `.loc` e o `.iloc`. Enquanto `.loc` a seleção é baseados nos rótulos (nomes das colunas), o `.iloc` é baseado na posição do registro no DataFrame.

### `.loc`

In [32]:
df_pro.loc[:, 'cd_proposta'].head()

0    3262198
1    3276543
2    2987697
3    3276564
4    3276577
Name: cd_proposta, dtype: int64

O primeiro parametro dentro do `.loc` diz respeito aos filtros a serem realizados, já o segundo as colunas que queremos visualizar. No exemplo acima não aplicamos filtros algum e estamos visualizando a coluna `cd_proposta`, se adicionarmos a coluna `cd_situacao` (dentro de uma lista), teremos a mesma visualização apresentada no item anterior. A única diferença é que neste caso não teremos uma cópia do DataFrame.

O uso do `.loc` explicitamente faz mais sentido quando vamos alterar os valores no DataFrame. Como por exemplo.

In [35]:
df_pro.loc[df_pro['cd_situacao']==3, 'limite_aprovado'].head()

0    NaN
3    NaN
5    NaN
10   NaN
11   NaN
Name: limite_aprovado, dtype: float64

In [36]:
df_pro.loc[df_pro['cd_situacao']==3, 'limite_aprovado'] = 0

In [37]:
df_pro.loc[df_pro['cd_situacao']==3, 'limite_aprovado'].head()

0     0.0
3     0.0
5     0.0
10    0.0
11    0.0
Name: limite_aprovado, dtype: float64

Como podemos ver alteramos os valores de `limite_aprovado` para 0 quando o `cd_situacao` é 3. O mesmo não seria possível se utilizássemos a versão mais limpa de seleção baseada nos rótulos equivalentes.

In [38]:
df_pro[(df_pro['cd_situacao']==3)]['limite_aprovado'] = 1

/home/jpcoelho/.pyenv/versions/3.7.4/envs/projects/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
df_pro[(df_pro['cd_situacao']==3)]['limite_aprovado'].head()

0     0.0
3     0.0
5     0.0
10    0.0
11    0.0
Name: limite_aprovado, dtype: float64

Como esperávamos não foi possível, realizar as alterações desejadas porque tentamos alterar valores de uma cópia do DataFrame.

### `.iloc`

O `.iloc` permite que acessemos os valores de forma iterativa numericamente.

In [40]:
df_pro.iloc[0] # Selecionando todos os valores associados ao primeiro registro do DataFrame

cd_proposta                                        3262198
cd_situacao                                              3
proposta_finalizada                                      1
ds_endereco_uf                                          SP
ds_tipo_documento                                       RG
ds_escolaridade                             Médio Completo
faixa_escolaridade                       2. Médio Completo
nr_dia_vencimento                                       15
ds_sexo                                                  F
reprovado_suspeita_fraude_mesa                           0
fra_pos_mesa                                             0
rendapresumidatu                                       NaN
faixa_renda_presumida             06. Outros, < 400 & Null
decilcurtoprazo                                        NaN
decillongoprazo                                        NaN
dt_fila_espera                         2018-12-27 17:16:20
horario_decisao_motorcredito           2019-01-01 00:24:05
limite_aprovado                                          0
coc_dt_abertura_conta_cartao                           NaN
Name: 0, dtype: object

In [42]:
df_pro.iloc[:,0] # Selecionando todos as registros da primeira coluna do DataFrame

0        3262198
1        3276543
2        2987697
3        3276564
4        3276577
5        3276594
6        2854263
7        3276601
9        3276615
10       3276668
11       3072930
12       3276695
13       3276714
14       3276766
15       3276800
16       3276823
17       3276859
18       3276849
19       3008964
20       3276908
21       3272689
22       3276942
23       1955437
24       3265431
25       3276962
26       3277005
27       3277041
28       3275975
29       3277080
30       3277082
          ...
49970    3332164
49971    3332479
49972    3332528
49973    3332505
49974    3332557
49975    3332552
49976    3331824
49977    3332564
49978    3332576
49979    3332604
49980    3332504
49981    3332635
49982    3327470
49983    3332631
49984    3332634
49985    3332687
49986    3332700
49987    3332722
49988    3332772
49989    3332637
49990    3332656
49991    3332799
49992    3332841
49993    3332860
49994    3326469
49995    3334867
49996    3334886
49997     672404
49998    3334768
49999    3334908
Name: cd_proposta, Length: 49999, dtype: int64

## 5 Criando novas colunas com `.apply()`

Para exemplificar como utilizamos o `.apply` iremos criar colunas de região usando os dados presentes em `ds_endereco_uf`

In [43]:
def apply_regions(st, nr_dasa, cep, ):
    if st in ['SP', 'RJ', 'MG', 'ES']:
        return 'SUDESTE'
    elif st in ['SC', 'RS', 'PR']:
        return 'SUL'
    elif st in ['AC', 'AP', 'AM', 'PA', 'RR', 'RO', 'TO']:
        return 'NORTE'
    elif st in ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE']:
        return 'NORDESTE'
    elif st in ['MT', 'MS', 'GO', 'DF']:
        return 'CENTRO-OESTE'

In [44]:
df_pro.loc[:,'regiao'] = df_pro[['ds_endereco_uf'].apply(apply_regions)

Que é equivalente a:

In [47]:
df_pro.loc[:, 'regiao2'] = df_pro.apply(lambda x: apply_regions(x['ds_endereco_uf']), axis=1)

Quando utilizamos o `.apply`, iremos realizar alguma operação sobre todo o DataFrame selecionado. No caso a operação em questão é um agrupamento em regiões à partir dos estados, com a função `apply_regions`. A diferença de ambas implementações consiste que na primeira estamos passando uma `Serie` para uma função com um único argumento, que o pandas é capaz de fazer o "casamento" entre as variáveis. Já na segunda implemntação ao utilizarmos `lambda` que está sendo definido como um registro completo do DataFrame (uma linha), temos que explicitar qual das colunas devemos passar para a função `apply_regions`, bem como em qual eixo devemos fazer a operação.

# 6 Groupby

Com o auxílio do `groupby` vamos checar se de fatos ambos implementaçãoes de regiões são equivalentes.

In [45]:
df_pro.groupby(by=['regiao']).size()

regiao
CENTRO-OESTE     3000
NORDESTE        23705
NORTE            1939
SUDESTE         17877
SUL              3478
dtype: int64

In [48]:
df_pro.groupby(by=['regiao2']).size()

regiao2
CENTRO-OESTE     3000
NORDESTE        23705
NORTE            1939
SUDESTE         17877
SUL              3478
dtype: int64

Como era de se esperar ambas implementações obtiveram o mesmo resultado.

In [49]:
df_pro.groupby(by=['regiao'])['limite_aprovado'].sum()

regiao
CENTRO-OESTE     548600.0
NORDESTE        4858200.0
NORTE            282800.0
SUDESTE         2108000.0
SUL              656500.0
Name: limite_aprovado, dtype: float64

In [53]:
df_pro.groupby(df_pro['dt_fila_espera'].dt.to_period('M')).size()

dt_fila_espera
2017-05        7
2017-06        5
2017-07        9
2017-08       55
2017-09       73
2017-10       56
2017-11      122
2017-12       40
2018-01       44
2018-02       80
2018-03      109
2018-04      140
2018-05       92
2018-06      160
2018-07      267
2018-08      231
2018-09      238
2018-10      359
2018-11      549
2018-12     1951
2019-01    45412
Freq: M, dtype: int64

# 7 Merge

O `merge` de pandas são equivalentes aos `joins` de `sql`. Iremos ler um novo DataFrame para depois fazer um `inner join` e um `left join`.
Ref: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [54]:
df_jur = pd.read_csv('jur_data.csv', sep='|')

In [55]:
df_jur.head()

,pro_cd_proposta,valor_causa,valor_envolvido,valor_pago,flag_valor_causa,flag_valor_envolvido,flag_valor_pago
0,739677,13000.00,9500.0,0.00,1,1,0
1,483627,39920.00,5000.0,6185.06,1,1,1
2,1528755,21270.97,5000.0,0.00,1,1,0
3,2075716,10000.00,9000.0,0.00,1,1,0
4,3496103,0.00,0.0,0.00,0,0,0

In [56]:
df_jur.shape

(196, 7)

Quando comparamos o `df_jur` com o `df_pro` vemos que a chave de ligação será `pro_cd_proposta` e `cd_proposta` respectivamente.

In [57]:
df_pro.head()

,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,...,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao,regiao,regiao2
0,3262198,3,1,SP,RG,Médio Completo,2. Médio Completo,15,F,0,...,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-12-27 17:16:20,2019-01-01 00:24:05,0.0,NaN,SUDESTE,SUDESTE
1,3276543,17,1,PB,RG,Superior Incompleto,3. > Medio Completo,15,M,0,...,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:25:56,2019-01-01 00:36:25,NaN,NaN,NORDESTE,NORDESTE
2,2987697,17,1,MG,CNH,Fundamental Incompleto,1. < Medio Completo,20,M,0,...,NaN,"06. Outros, < 400 & Null",NaN,NaN,2018-11-11 17:07:23,2019-01-01 01:11:32,NaN,NaN,SUDESTE,SUDESTE
3,3276564,3,1,CE,CNH,Fundamental Completo,1. < Medio Completo,10,M,0,...,NaN,"06. Outros, < 400 & Null",NaN,5.0,2019-01-01 00:57:28,2019-01-01 01:24:27,0.0,NaN,NORDESTE,NORDESTE
4,3276577,17,1,BA,RG,Fundamental Completo,1. < Medio Completo,25,M,0,...,NaN,"06. Outros, < 400 & Null",NaN,NaN,2019-01-01 01:48:56,2019-01-01 02:12:31,NaN,NaN,NORDESTE,NORDESTE

Primieramente realizando o `inner join`

In [58]:
df_inner = df_jur.merge(df_pro, how='inner', left_on='pro_cd_proposta', right_on='cd_proposta')

In [59]:
df_inner

,pro_cd_proposta,valor_causa,valor_envolvido,valor_pago,flag_valor_causa,flag_valor_envolvido,flag_valor_pago,cd_proposta,cd_situacao,proposta_finalizada,...,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao,regiao,regiao2
0,3323083,19960.0,3000.0,3000.0,1,1,1,3323083,2,1,...,9000.0,"05. (2000.0, 30000.0]",8.0,17.0,2019-01-08 19:34:54,2019-01-08 22:07:43,2500.0,2019-01-11 10:24:22,NORDESTE,NORDESTE
1,3303023,39920.0,0.0,0.0,1,0,0,3303023,2,1,...,8500.0,"05. (2000.0, 30000.0]",8.0,11.0,2019-01-06 17:00:06,2019-01-07 09:32:57,1500.0,2019-01-16 15:45:00,SUDESTE,SUDESTE
2,3323003,6000.0,0.0,0.0,1,0,0,3323003,2,1,...,400.0,"01. (399.99, 800.0]",6.0,8.0,2019-01-06 19:30:27,2019-01-08 21:58:24,500.0,2019-01-22 14:30:07,NORDESTE,NORDESTE

Apenas três registros estão em ambas as bases

Realizando o `left_join`

In [60]:
df_left = df_jur.merge(df_pro, how='left', left_on='pro_cd_proposta', right_on='cd_proposta', copy=False)

In [61]:
df_left.shape

(196, 28)

In [80]:
df_left.head()

,pro_cd_proposta,valor_causa,valor_envolvido,valor_pago,flag_valor_causa,flag_valor_envolvido,flag_valor_pago,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao,regiao,regiao2
0,739677,13000.00,9500.0,0.00,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,483627,39920.00,5000.0,6185.06,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
2,1528755,21270.97,5000.0,0.00,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
3,2075716,10000.00,9000.0,0.00,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,3496103,0.00,0.0,0.00,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN

Para visualizar todas as colunas

In [83]:
pd.set_option('display.max_columns', None)

In [84]:
df_left.head()

,pro_cd_proposta,valor_causa,valor_envolvido,valor_pago,flag_valor_causa,flag_valor_envolvido,flag_valor_pago,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao,regiao,regiao2
0,739677,13000.00,9500.0,0.00,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
1,483627,39920.00,5000.0,6185.06,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
2,1528755,21270.97,5000.0,0.00,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
3,2075716,10000.00,9000.0,0.00,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,3496103,0.00,0.0,0.00,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN

Selecionando os dados com informações em ambas bases novamente:

In [78]:
df_left[(~df_left['cd_proposta'].isnull())]

,pro_cd_proposta,valor_causa,valor_envolvido,valor_pago,flag_valor_causa,flag_valor_envolvido,flag_valor_pago,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao,regiao,regiao2
12,3323083,19960.0,3000.0,3000.0,1,1,1,3323083.0,2.0,1.0,MA,RG,Fundamental Completo,1. < Medio Completo,25.0,F,0.0,1.0,9000.0,"05. (2000.0, 30000.0]",8.0,17.0,2019-01-08 19:34:54,2019-01-08 22:07:43,2500.0,2019-01-11 10:24:22,NORDESTE,NORDESTE
101,3303023,39920.0,0.0,0.0,1,0,0,3303023.0,2.0,1.0,RJ,RG,Superior Completo,3. > Medio Completo,20.0,M,0.0,1.0,8500.0,"05. (2000.0, 30000.0]",8.0,11.0,2019-01-06 17:00:06,2019-01-07 09:32:57,1500.0,2019-01-16 15:45:00,SUDESTE,SUDESTE
104,3323003,6000.0,0.0,0.0,1,0,0,3323003.0,2.0,1.0,PB,RG,Fundamental Incompleto,1. < Medio Completo,15.0,F,0.0,0.0,400.0,"01. (399.99, 800.0]",6.0,8.0,2019-01-06 19:30:27,2019-01-08 21:58:24,500.0,2019-01-22 14:30:07,NORDESTE,NORDESTE

Colando mais filtro na segmentação:

In [79]:
df_left[(~df_left['cd_proposta'].isnull())
       & (df_left['flag_valor_pago']==1)]

,pro_cd_proposta,valor_causa,valor_envolvido,valor_pago,flag_valor_causa,flag_valor_envolvido,flag_valor_pago,cd_proposta,cd_situacao,proposta_finalizada,ds_endereco_uf,ds_tipo_documento,ds_escolaridade,faixa_escolaridade,nr_dia_vencimento,ds_sexo,reprovado_suspeita_fraude_mesa,fra_pos_mesa,rendapresumidatu,faixa_renda_presumida,decilcurtoprazo,decillongoprazo,dt_fila_espera,horario_decisao_motorcredito,limite_aprovado,coc_dt_abertura_conta_cartao,regiao,regiao2
12,3323083,19960.0,3000.0,3000.0,1,1,1,3323083.0,2.0,1.0,MA,RG,Fundamental Completo,1. < Medio Completo,25.0,F,0.0,1.0,9000.0,"05. (2000.0, 30000.0]",8.0,17.0,2019-01-08 19:34:54,2019-01-08 22:07:43,2500.0,2019-01-11 10:24:22,NORDESTE,NORDESTE